@import url('https://fonts.googleapis.com/css2? familia=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Montserrat', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logoIndex {
    width: 30rem;
    border-radius: 75%;
    margin: 1 rem;
    border-top: 2;
}

#carroIndex {
    width: 6rem;
    height: 4rem;
    border-radius: 6%;
    border-top: 1px;
}

#eslogan {
    border-color: blue;
    text-align: justify;
    background-color: brown;
}

body {
    background-color: beige;
}

.seccionH1 {
    background-color: coral;
    border-color: 1px solid gold;
    text-align: justify;
    color: darkolivegreen;
}

.navbar {
   display: flex;
   gap: 1rem;
   border: 1px;
   border-style: solid;
   border-color: rgb(48, 25, 179);
   list-style: none;
   justify-content: center; 
}

.navbar li {
    border: 3px;
    flex-shrink: 1;
    flex-basis: 80px;
    border-radius: 5px 2px;
    border-style: solid;
    border-color: blue;
    flex-shrink: 1;
}

h1 {
    color: darkmagenta;
    font-size: 40px;
    border: 15px solid greenyellow;
    text-decoration: underline 2px;
}

p {
    text-align: left;
    font-family: 'Montserrat',sans-serif;
    border-radius: 70%;
    border-color: hotpink;
}

p{
text-align: left;
display: inline;
}

.footerIndex {
    background-color: palegreen;
    color: green;
    font-size: 35px;
    border-radius: 80%;
}

.claseeri {
    position: sticky;
    top: 10px; left: 125px;
}

@media only screen and (max-width: 320px) and (max-width: 500px) {
    body {
        background-color: aqua;
    }
    #logoIndex {
        width: 2rem;
    }
    .navbar {
        flex-direction: column;
    }
}